@import "tailwindcss";

.jobitem-container {
    background-color: #2c2c2c;
   width:500px;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    margin: 16px;
}

@media (min-width: 768px) {
    .jobitem-container {
        width:700px;
    }
}

.jobitem-header {
    display: flex;
}

.jobitem-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
}

.jobitem-title-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
}

.jobitem-title {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.jobitem-rating {
    color: #fbbf24;
    margin-bottom: 8px;
}

.jobitem-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.jobitem-location,
.jobitem-type {
    color: #9ca3af;
    margin-bottom: 8px;
}

.jobitem-desc-label {
    color: #fff;
}

.jobitem-desc {
    color: #d1d5db;
    margin-bottom: 16px;
}

.jobitem-apply-btn {
    background-color: #6c63ff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}